<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/main.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Information Management Branch</title>
</head>


<body>
  <!-- Get contents from _header.ejs -->
  <%- include('../partials/_header') %>

    <h3 style="color: #385a8a;">Edit A Product</h3>

    <!-- Edit Product From  -->
    <div class="edit-form">
      <form action="/api/products/<%= productId %>/edit" method="POST">
        <div class="form-row">
          <div class="form-column">
            <label for="edit-product-name">Product Name:</label>
            <input id="edit-product-name" type="text" name="productName" value="<%= productName %>">
          </div>
          <div class="form-column">
            <label for="edit-product-owner-name">Product Owner</label>
            <input id="edit-product-owner-name" type="text" name="productOwnerName" value="<%= productOwnerName %>">
          </div>

          <div class="form-column">
            <label for="edit-scrum-master">Scrum Master:</label>
            <input id="edit-scrum-master" type="text" name="scrumMasterName" value="<%= scrumMasterName %>">
          </div>

          <div class="form-column">
            <label for="edit-start-date">Start Date:</label>
            <input id="edit-start-date" type="text" name="startDate" value="<%= startDate %>">
          </div>
        </div>

        <div class="form-row">
          <div class="form-column">
            <label for="edit-developers">Developers:</label>
            <input type="text" id="edit-developers" name="Developers[]" value="<%= Developers %>">
          </div>

          <div class="form-column">
            <label for="edit-methodology">Methodology:</label>
            <select id="edit-methodology" name="methodology">
              <option value="<%= methodology %>">
                <%= methodology %>
              </option>
              <option value="agile">Agile</option>
              <option value="waterfall">Waterfall</option>
            </select>
          </div>

        </div>
        <input type="submit" value="Save Edits">
      </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

</body>

</html>